.card {
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.card__img {
  display: block;
}

.card__discription {
  padding: 0 17px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.card__discription p {
  margin: 0;
}

.card__author {
  font-style: normal;
  font-weight: 700;
}

.card__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.card__text {
  margin: 0;
}

.card__like {
  font-size: 12px;
  color: #d22856;
}
