.control {
  position: relative;
  display: block;
  padding-left: 58px;
  font-size: 18px;
}

.control__app {
  padding-left: 12px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.control__input:hover + .mark {
  outline: none;
  border-color: $color-base;
}

.control__input:focus + .mark,
.control__input:active + .mark {
  border-color: #d22856;
}

.control__input[type="checkbox"]:checked + .mark::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}

.control__input[type="radio"]:checked + .mark::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}
