.contacts__wrapper {
  outline: 2px solid rgb(24, 179, 32);
  outline-offset: -2px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 130px;
  }
}

.contacts__title {
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
  }
}

.contacts__item {
  text-align: center;

  @media (min-width: $desktop-width) {
    max-width: 240px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-right: 100px;
  }
}

.contacts__item--order {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.contacts__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}

.contacts__description--address {
  font-style: normal;
}
