.effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.effect__wrapper {
  position: relative;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    top: 56px;
    width: 238px;
    height: 276px;
    background-image: url("/img/effect-tablet.svg");
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      top: 28px;
      width: 298px;
      height: 345px;
      background-image: url("/img/effect-desktop.svg");
    }
  }

  @media (min-width: $tablet-width) {
    padding: 97px 20px 80px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin-bottom: 65px;
    padding: 123px 130px 115px;
    background-color: #f2f2f2;
  }
}

.effect__box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;

  @media (min-width: $desktop-width) {
    width: 534px;
    margin-right: 35px;
  }
}

.effect__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 25px;
    line-height: 30px;
  }
}

.effect__text {
  margin: 0;
  padding: 0;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.effect__link {
  line-height: 24px;
  color: #d22856;
  text-decoration: underline;

  &:hover {
    color: $color-base;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
