.field {
  font-size: 18px;
  color: $color-base;

  &::-webkit-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $color-base;
  }

  &::-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $color-base;
  }

  &:-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $color-base;
  }
}
