.footer__wrapper {
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 37px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 70px auto;
    padding: 0 130px;
  }
}

.footer__logo {
  margin-bottom: 25px;
  padding: 5px;
  padding-left: 71px;


  &:hover {
    path {
      fill: #d22856;
    }
  }

  &:active {
    path {
      fill: $color-base;
    }
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 0;
    margin-right: auto;
  }
}

.footer__social {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    justify-self: center;
  }
}

.footer__copyright {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
