.header {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.header__wrapper {
  outline: 2px solid rgb(24, 179, 32);
  outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 21px 20px;

  @media (min-width: $tablet-width) {
    padding: 43px 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 43px 130px;
  }
}
