.header {
  position: absolute;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-container {
  min-width: 320px;


  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
  }
}

.header__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.header__logo {
  display: inline-block;
  height: 66px;
  padding-top: 22px;
  padding-bottom: 21px;

  &:hover {
    path {
      fill: #d22856;
    }
  }

  &:active {
    path {
      fill: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }
}

.header__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) and (max-width: 1199px) {
    display: block;
  }
}

.header__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
