.intro {
  max-width: 320px;
  color: #ffffff;
  background: $color-base url("/img/back-mobile.jpg") no-repeat;

  outline: 1px solid green;
}

.intro__wrapper {
  padding: 0 20px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro__description {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
