.intro {
  min-height: 237px;
  color: #ffffff;
  background-image: url("/img/back-mobile.jpg");
  background-color: $color-base;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/back-mobile@2x.jpg");
  }


  @media (min-width: $tablet-width) {
    min-height: 440px;
    background-image: url("/img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    display: flex;
    background-image: url("/img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/back-desktop@2x.jpg");
    }
  }
}

.intro__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-rows: auto auto;
    padding: 110px 0 0;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    grid-template-columns: 130px 1fr 2fr 130px;
    padding: 110px 0 0;
  }
}

.intro__title {
  line-height: 29px;
  text-align: center;
  padding: 89px 20px 30px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 84px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 90px;
    margin-bottom: 26px;
    padding: 10px 20px;
  }
}

.intro__box {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
    grid-column: 1/-1;
    padding-top: 73px;
    justify-content: right;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-right: 4px;
  }
}

.intro__img {
  display: block;
}

.intro__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2631;
  padding: 28px 20px 30px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: transparent;
    margin-right: 10px;
    padding: 0;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 125px;
  }
}

.intro__button {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__list {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.intro__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.intro__link {
  display: block;
  width: 47px;
  height: 56px;

  &--apple {
    background: no-repeat url("/img/apple-logo.svg") bottom;
  }

  &--android {
    background: no-repeat url("/img/android-logo.svg") bottom;
  }

  &--microsoft {
    background: no-repeat url("/img/microsoft-logo.svg") bottom;
  }
}


.intro__description {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.intro__inner {
  padding: 94px 20px 44px;
  line-height: 33px;
  text-align: center;

  &.title {
    line-height: 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 176px 93px 60px;

    &.title {
      font-size: 50px;
      line-height: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 170px 220px 88px;
    max-width: 1200px;
  }
}
