.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal--failure {
  display: none;
}

.modal--success {
  display: none;
}

.modal__container {
  position: relative;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 0;
    width: 70%;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    padding: 45px 0 0;
  }
}

.modal__description {
  margin-bottom: 20px;
  padding: 0 20px;

  &--success {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;

    &--success {
      margin-bottom: 40px;
    }
  }
}

.modal__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.modal__button {
  margin: 0 auto;
}

.modal__wrap {
  padding: 50px 20px;
  background-color: #f2f2f2;
  text-align: center;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 5px 5px;
  }
}

.modal__wrap--failure {
  padding: 20px 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 0 55px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    padding: 50px 0;
  }
}
