.new-post__wrapper {
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 25px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-top: 57px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0;
    max-width: 940px;
    column-gap: 0;
    margin-bottom: 28px;
  }
}

.new-post__text {
  margin: 0;
  margin-bottom: 43px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.new-post__photo {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.new-post__img {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.new-post__form {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.new-post__label {
  padding-left: 0;
}

.new-post__button {
  padding: 5px;
  border: none;
  background-color: inherit;
}

.new-post__icon {
  fill: #d22856;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    fill: #d22856;
    opacity: 1;
  }
}

.new-post__icon--crop {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    width: 22px;
    height: 22px;
  }
}

.new-post__icon--fill {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    width: 24px;
    height: 22px;
  }
}

.new-post__icon--contrast {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    width: 16px;
    height: 16px;
  }
}

.new-post__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 15px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
}
