.reviews {
  padding: 0 20px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.reviews__author-profession {
  margin: 0;
}

.reviews__author-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}
