.tariff {
  background-image: linear-gradient(-5deg, #f2f2f2 80%, #ffffff 80%);
  overflow: hidden;
}

.tariff__wrapper {
  outline: 2px solid rgb(24, 179, 32);
  outline-offset: -2px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 130px;
  }
}

.tariff__cell {
  background-color: #ffffff;
}

.tariff__cell--header {
  color: #ffffff;
  background-color: $color-base;
}

.tariff__cell--header:first-child {
  border-radius: 1px 0 0 0;
}

.tariff__cell--name {
  font-weight: 700;
  font-size: 16px;
  background-color: $color-base;
  text-transform: uppercase;
}

.tariff__cell--price {
  font-weight: 300;
  font-size: 18px;
  background-color: $color-base;
}

.tariff__cell--option {
  font-size: 14px;
}
