.title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
}

.title--form {
  line-height: 33px;
}

.title--modal {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
